<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1522f9b92c7d140ad9da05a82a7c21a4:d1027f332f274f881bad3a5bc1a172c4:5b48ea058c619da7a07ef57e5d11da71$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>kz_egypt_light_tiles_sheet.1.png</string>
                <key>size</key>
                <string>{573,508}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>_Spritesheet_Tileset_2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{576,512}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{571,506}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
